@import "_reset"; // Lets level the playing field
@import "_vars"; // Import the variables
@import "_colors"; // flatuicolors
@import "_mixins"; // Import the mixins file
@import "_grids.scss"; // lets grid this baby up.
@import "_helpers.scss"; // some standard helpers
@import "_mq.scss"; // load in the media queries
@import "_debug.scss"; // deeeebuuuuuuuug!


/* GENERAL STYLES ================================= */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* SITE STYLES ================================= */

html {
  background: -webkit-linear-gradient(180deg, #ADD100 10%, #7B920A 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(180deg, #ADD100 10%, #7B920A 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(180deg, #ADD100 10%, #7B920A 90%); /* IE10 */
  background:      -o-linear-gradient(180deg, #ADD100 10%, #7B920A 90%); /* Opera 11.10+ */
  background:         linear-gradient(180deg, #ADD100 10%, #7B920A 90%); /* W3C */
  height: 100%;
}

#content {
	max-width: 60rem;
	margin: 0 auto;
	padding-top: 3rem;
	text-align: center;
	display: table;
	iframe {
		width: 100%!important;
		height: 100%!important;
	}
	.quote {
		color: $white;
		padding: 1rem;
		font-size: 1.2rem;
		line-height: 1.2;
		font-style: italic;
		font-family: "ff-meta-serif-web-pro",serif;
		text-shadow: 0 0 10px rgba(0,0,0,.3);
		display: table-cell; 
  		vertical-align: middle; 

  		@include mq($medium) {
	        font-size: 3.2rem;
	    }
	}
	img {
		max-width: 100%;
	}
}

#content.video {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt",sans-serif;
}

a {
	color: $white;
	@include transition();
	&:hover {
		color: $peter-river;
	}
}

header h1 {
	text-align: center;
	color: $white;
	padding: 1rem;
	font-size: 1.3rem;
	font-weight: 900;
	font-style: italic;
	text-transform: uppercase;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,.7);
	padding: 0.5rem;
	p {
		text-align: center;
		line-height: 1.5;
		color: $white;
		font-size: 0.8rem;
		font-family: helvetica, "trebuchet MS", arial, sans-serif;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.source {
    padding-top: 2rem;
    text-align: right;
    font-style: italic;
    font-size: 1.2rem;
    font-family: georgia;
}