<!-- footer -->
<footer>
	<p>A fun thing built by <a href="http://mrqwest.co.uk">@mrqwest</a> to get me to <a href="http://mrqwest.co.uk/likes/running">run</a> more! Find me on <a href="http://twitter.com/mrqwest">twitter</a> & <a href="http://app.strava.com/athletes/694880">Strava</a></p>
	<p>&copy; 2014</p>
</footer>